#toast-container > div {
    opacity: 1;
  }

.login-section{
    margin: 100px;
}

.login-failed{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;    
    background-color: red;
}

.login-failed-text, .register-success-text{
    text-align: center;
    margin-top: 8px;
    font-weight: bold;    
    color: aliceblue;
}

.row {
    padding: 5px;
    margin-bottom: 7px
}
